
.my_danger{
    span{@apply border-b border-b-red-500 py-1 hover:bg-red-100;}
}

.toolbarClassName{
    @apply text-gray-800 bg-white;
}
.wrapperClassName{
    @apply h-screen bg-white border-0;
}
.editorClassName{
    @apply p-2 h-full focus:ring-0 text-sm text-gray-800 ;
}

.image-upload-component{
    @apply w-64 h-64 flex justify-center items-center border border-green-500
    overflow-hidden cursor-pointer border-dashed rounded-full text-xl
    text-black/50;

    input[type='file']{@apply hidden}

    img{
        @apply w-full h-full object-center object-cover lg:w-full lg:h-full
        rounded-full
    }
}

// @import 'dashboard/index';
// @import 'components/index';
@import "layouts/index";

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ck-editor__editable_inline{
    min-height: 400px;
    max-height: 600px;
}

input[type=file]{
    @apply text-sm text-slate-500 file:mr-4 file:py-2 file:px-4
      file:rounded file:border-0  file:text-sm file:font-semibold
      file:bg-violet-50 file:text-violet-700 hover:file:bg-violet-100;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.prose{
    max-width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}